<IfModule mod_rewrite.c>
	#Options +FollowSymLinks
    RewriteEngine On
    #RewriteBase /

    #RewriteCond %{HTTP:Authorization} .
    #RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    #RewriteCond %{HTTP_HOST} ^api.fusioncrm\.*
    #RewriteCond %{REQUEST_URI} !/api/
    #RewriteRule ^(.*) api/$1 [L]

    # prevent requests for the public directory from being rewritten
    #RewriteRule ^vendor/.+$ - [L]

    #RewriteCond %{DOCUMENT_ROOT}/public/$0 -f
    #RewriteRule ^.+$ /vendor/$0 [L]

    # If requested resource exists as a file or directory, skip next two rules
    #RewriteCond $1 !^(index\.html)
	#RewriteCond %{DOCUMENT_ROOT}/$1 -f [OR]
	#RewriteCond %{DOCUMENT_ROOT}/$1 -d
	#RewriteRule (.*) - [S=2]
	
</IfModule>