.top_dropdown {
    margin-top: 20px;
  }
  .custom_dropdown>.dropdown-menu {
    top: 98px;
    border:none;
    margin-left: 5px;
  }

   .custom_dropdown>a:after {
      display: none;
  }

  .myAccordion li a.sidebarActive{
        background: #039be5;
        color: #fff;
    }
    
    .top_dropdown {
        margin-top: 20px;
    }
    .nav-tabs.wizard {
      background-color: transparent;
      padding: 0;
      width: 100%;
      margin: 1em auto;
      border-radius: .25em;
      clear: both;
      border-bottom: none;
    }

    .nav-tabs.wizard li {
      width: 100%;
      float: none;
      margin-bottom: 3px;
    }

    .nav-tabs.wizard li>* {
      position: relative;
      padding: 1em .8em .8em 2.5em;
      color: #999999;
      background-color: #dedede;
      border-color: #dedede;
    }

    .nav-tabs.wizard li.completed> {
      color: #fff !important;
      background-color: #039be5 !important;
      border-color: #039be5 !important;
      border-bottom: none !important;
    }

    .nav-tabs.wizard li.active>* {
      color: #fff !important;
      background-color: #039be5 !important;
      border-color: #039be5 !important;
      border-bottom: none !important;
    }

     .nav-tabs.wizard li:focus>* {
      color: #fff !important;
      background-color: #039be5 !important;
      border-color: #039be5 !important;
      border-bottom: none !important;
    }

    .nav-tabs.wizard li::after:last-child {
      border: none;
    }

    .nav-tabs.wizard > li > a {
      opacity: 1;
      font-size: 14px;
    }

    .nav-tabs.wizard a:hover {
      color: #fff;
      background-color: #039be5;
      border-color: #039be5
    }

    span.nmbr {
      display: inline-block;
      padding: 10px 0 0 0;
      background: #ffffff;
      width: 35px;
      line-height: 100%;
      height: 35px;
      margin: auto;
      border-radius: 50%;
      font-weight: bold;
      font-size: 16px;
      color: #555;
      margin-bottom: 10px;
      text-align: center;
    }


      .nav-tabs.wizard li {
        position: relative;
        padding: 0;
        margin: 4px 4px 4px 0;
        width: 19.6%;
        float: left;
        text-align: center;
      }
      .nav-tabs.wizard li.active a {
        padding-top: 15px;
        /*background: #96c03d ;*/
      }
      .nav-tabs.wizard li::after,
      .nav-tabs.wizard li>*::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 100%;
        height: 0;
        width: 0;
        border: 50px solid transparent;
        border-right-width: 0;
        /*border-left-width: 20px*/
      }
      .nav-tabs.wizard li::after {
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #fff;
        margin: 0
      }
      .nav-tabs.wizard li>*::after {
        z-index: 2;
        border-left-color: inherit
      }
      .nav-tabs.wizard > li:nth-of-type(1) > a {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .nav-tabs.wizard li:last-child a {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .nav-tabs.wizard li:last-child {
        margin-right: 0;
      }
      .nav-tabs.wizard li:last-child a:after,
      .nav-tabs.wizard li:last-child:after {
        content: "";
        border: none;
      }
      span.nmbr {
        display: inline-block;
        margin-right: 5px;
      }


      .notify_common_box {
            background-color: #d4edda;
    border-color: #c3e6cb;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    height: 300px;
    line-height: 135px;
    border-radius: 40px;
    margin-top: 20px;
    border-left: 10px solid; }

    .alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

    /*  .alert {
    border: 3px dotted #333;
    margin: 67px;
    border-radius: 40px; 
  }*/

  

  .mb-style-5 {
      width: 390px;
  }

  .mb-style-5 blockquote {
      text-align: center;
      background: #333;
      
      padding: 60px;
      border-radius:10%;
      box-shadow: 
          inset 0 0 0 10px #333, 
          inset 0 0 0 12px rgba(255,255,255,0.6), 
          80px 0 0 rgba(255,255,255,0.3),
          -80px 0 0 rgba(255,255,255,0.3),
          50px 0 0 rgba(60,185,145,0.2),
          -50px 0 0 rgba(185,60,60,0.2);
  }

  .mb-style-5 blockquote p {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      padding-top: 25px;
      text-transform: uppercase;
      text-shadow: 0 0 1px #fff, 0 1px 1px #000;
      font-family: 'Annie Use Your Telescope', cursive;
  }

  .mb-style-5 blockquote p span {
      display: block;
      position: relative;
      padding-top: 40px;
      margin-top: 40px;
      border-top: 1px solid rgba(255,255,255,0.3);
  }

  .mb-style-5 blockquote p span:before {
      position: absolute;
      width: 50px;
      height: 50px;
      background: #ddd;
      content: "275d";
      font-size: 40px;
      color: #333;
      top: 0px;
      left: 50%;
      margin: -25px 0 0 -25px;
      border-radius: 50%;
  }

  .mb-style-5 .mb-attribution {
      text-align: center;
      font-family: 'Annie Use Your Telescope', cursive;
      padding: 20px;
      font-size: 16px;
  }
  .mb-style-5 cite a:hover{
      color: #000;
  }




  /* center the blockquote in the page */
  .blockquote-wrapper {
     display: flex;
     /*height: 100vh;*/
     padding: 0 20px;
  }

  /* Blockquote main style */
  .blockquote {
      position: relative;
      font-family: 'Barlow Condensed', sans-serif;
      /*max-width: 620px;*/
     /* margin: 150px auto;*/
     /* align-self: center;*/
  }


  .blockquote-wrapper {
    /*margin-top: 10%;*/
  /*  height: 25vh;*/
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
  }

  .blockquote-wrapper::before {
    position: absolute;
    content: '';
    border-radius: 2em;
    height: 5px;
    background: linear-gradient(to right, rgba(252, 210, 34,0.05), rgba(39, 129, 200, 1));
    width: 0;
    top: 0;
    left: 0;
    animation: blockquote-wrapper 8s infinite;
  }
  @keyframes blockquote-wrapper {
    0% {
      width: 0;
    }
    20% {
      width: calc(100% / 3);
    }
    70% {
      opacity: 1;
    }
    100% {
      width: calc(100% / 3);
      opacity: 0;
    }
  }

  .blockquote-wrapper::after {
    position: absolute;
    content: '';
    height: 5px;
    border-radius: 2em;
    background: linear-gradient(to left, rgba(252, 210, 34,0.05), rgba(39, 129, 200, 1));
    width: 0;
    bottom: 0;
    right: 0;
    animation: blockquote-wrapper-after 8s infinite;
  }
  @keyframes blockquote-wrapper-after {
    0% {
      width: 0;
    }
    20% {
      width: calc(100% * 2/3);
    }
    70% {
      opacity: 1;
    }
    100% {
      width: calc(100% * 2/3);
      opacity: 0;
    }
  }

  /* Blockquote header */
  .blockquote h1 {
      font-family: 'Abril Fatface', cursive;
      position: relative;  for pseudos 
      color: #039be5;
      font-size: 2.8rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      border: 2px solid #039be5;
      /*border: solid 2px;*/
      border-radius:20px;
      padding: 25px;
      color: #039be5;
  }

  /* Blockquote right double quotes */
  .blockquote h1:after {

      content: "";
      position: absolute;
      border: 2px solid #039be5;
      border-radius: 0 50px 0 0;
      width: 60px;
      height: 60px;
      bottom: -60px;
      left: 50px;
      border-bottom: none;
      border-left: none;
      z-index: 3;
  }

  .blockquote h1:before {
      content:"";
      position: absolute;
      width: 80px;
      border: 6px solid #fff;
      bottom: -3px;
      left: 50px;
      z-index: 2;
  }

  /* increase header size after 600px */


  /* Blockquote subheader */
  .blockquote h4 {
      position: relative;
      color: #ffffff;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding-top: 15px;
      z-index: 1;
      margin-left:150px;
      padding-left:12px;
  }

   
  .blockquote h4:first-letter {
    margin-left:-12px;
  }
  /* Blockquote right double quotes */
  .blockquote:after {
       position: absolute;
      content: "â€";
      color: #039be5;
      font-size: 10rem;
      line-height: 0;
      /* bottom: -43px; */
      left: 129px;
          top: 132px;
    }

    [class^="btn-"] {
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 80px;
      max-width: 250px;
      margin: 1rem auto;
      text-transform: uppercase;
      border: 1px solid currentColor;
  }

  .btn-10:hover {
      color: #e1d3e7;
  }

  .btn-10 {
      color: #9a69ac;
  }.btn-10:before, .btn-10:after, .btn-10 span:before, .btn-10 span:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 80px;
      background-color: rgba(82, 47, 94, 0.25);
      transition: 0.4s;
  }.btn-10:hover:before, .btn-10:hover:after, .btn-10:hover span:before, .btn-10:hover span:after {
      width: 250px;
  }
  .btn-10 span:before, .btn-10 span:after {
      transition-delay: 0.4s;
  }

  .btn-10:after, .btn-10 span:before {
      left: auto;
      right: 0;
  }
  .btn-10:before, .btn-10:after, .btn-10 span:before, .btn-10 span:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 80px;
      background-color: rgba(82, 47, 94, 0.25);
      transition: 0.4s;
  }

  .btn-10 span:before, .btn-10 span:after {
      transition-delay: 0.4s;
  }

  .btn-10:before, .btn-10:after, .btn-10 span:before, .btn-10 span:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 80px;
      background-color: rgba(82, 47, 94, 0.25);
      transition: 0.4s;
  }

  .check_clr .fa{
    color:green;
  }

  .nav-tabs.wizard .completed_app>*{
        position: relative;
      padding: 1em .8em .8em 2.5em;
      color: #fff;
      background-color: #2cc185;
      border-color: #2cc185;
      font-weight: 700;
  }
  .nav-tabs.wizard .completed_app:hover>{
        position: relative;
      padding: 1em .8em .8em 2.5em;
      color: #fff;
      background-color: #2cc185;
      border-color: #2cc185;
      font-weight: 700;
  }

  .nav-tabs.wizard .completed_app.active>{
        position: relative;
      padding: 1em .8em .8em 2.5em;
      color: #fff;
      background-color: #2cc185;
      border-color: #2cc185;
      font-weight: 700;
  }

  .vect_img {
    margin-top: 45px;
    margin-bottom: 60px;
}